
html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#loading {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 1;
}

.loading-msg {
  display: none;
  position: fixed;
  top: 45%;;
  left: 45%;
  z-index: 2;
}

#wrapper {
  min-width: 1025px;
  margin: 0 auto;
}

.pc-nav {
  width: 100%;
  height: 65px;
  background-color: rgba(255,255,255,0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.pc-navset {
  display: flex;
  width: 1024px;
  align-items: center;
  margin: 0 auto;
  padding-top: 15px;
}

.pc-navset ul {
  margin: 0;
  display: flex;
  padding-left: 80px;
}

.pc-nav li {
  white-space: nowrap;
  list-style-type: none;
  font-size: 0.9em;
  margin-right: 20px;
  padding: 0 0 10px;
}

.mob-nav {
  display: none;
}

.pc-nav a {
  text-decoration: none;
  color: black;
}

.pc-nav a:hover {
  color: rgba(169 169 169);
  text-decoration: none;
  transition: 0.3s;
}

.pc-nav li {
  position: relative;
  text-decoration: none;
}

.pc-nav li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #c3b684;
  transform: scale(0, 1); 
}

.pc-nav li:hover:before {
  transform: scale(1);
}

.top_img_area {
  background: url("pc_main.jpg") no-repeat center;
  background-size: cover;
  min-width: 1024px;
  height: 600px;
  position: relative;
}

.top_img_area img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

#concept {
  padding-top: 120px;
  padding-bottom: 120px;
  text-align: center;
  margin-top: -5px;
}

#concept p {
  margin-bottom: 35px;
  line-height: 2em;
  letter-spacing: 0.2em; 
}

#concept h1 {
  font-size: 1.6em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 60px;
  letter-spacing: 0.5em;
}

#concept img {
  margin-bottom: 30px;
}

.button, .button-blue {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border: 2px solid #7d7d7d;
  width: 185px;
  text-decoration: none;
  color: black;
  line-height: 1em;
  transition: 0.5s;
}

.button a {
  text-decoration: none;
}

.button:hover {
  background-color: black; 
  color: white;
}

.ownername {
  margin-top: 0;
  margin-bottom: 50px;
}

#donut {
  position: relative;
  background: url("bg_donuts.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 530px;
}

.donut_text {
  position: absolute;
  line-height: 2em;
  width: 535px;
  padding-top: 110px;
  top: 0%;
  left: 50%;
}

.donut_text a {
  text-align: center;
}

.subtitle {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1;
  text-align: center;
  }

.title {
  font-size: 1.1em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
}

.title span {
  font-size: 1.7em;
  letter-spacing: 0.1em;
}

.description {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.8em;
  letter-spacing: 0.8px;
}

#items {
  background-image: url("bg_beige.png");
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

#items h1 {
  margin-bottom: 60px;
  font-size: 1.6em;
  font-weight: normal;
  margin-top: 0;

}
#items p {
  margin-top: 0;
  margin-bottom: 65px;
}

.photos {
  display: flex;
  justify-content: space-evenly;
  width: 1030px;
  margin: 0 auto;
  margin-bottom: 65px;
  padding: 0;
}

.items a {
  text-align: center;
}

#info {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

#info h1 {
  margin-bottom: 60px;
  font-size: 1.6em;
  font-weight: normal;
}

#border {
  border-top: 1px solid #ede9da;
  margin-bottom: 30px;
}

.button-blue:hover {
  background-color: #3b5998; 
  color: white;
}

#contact {
  background-image: url("bg_beige.png");
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#contact h1 {
  margin-top: 0;
  font-size: 1.8em;
  margin-bottom: 60px;
  font-weight: normal;
}

.text {
  margin-top: 0;
  margin-bottom: 40px;
  line-height: 2em;
  font-size: 1.1em;
}

.tel {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.6em;
  
}

#contact a {
  display: block;
  margin-top: 60px;
}

#location {
  padding-top: 100px;
  padding-bottom: 100px;
}

#location h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 1.6em;
  letter-spacing: 0.2em;
  font-weight: normal;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  margin: 0 auto;
  justify-content: space-around;
}

.c_item {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.c_item h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 0;
}

.c_item th {
  text-align: left;
  vertical-align: baseline;
  font-weight: normal;
  width: 130px;
}

.c_item td {
  vertical-align: baseline;
  padding: 12px 0;
}

.c_item iframe {
  width: 480px;
  height: 256px;
  margin-bottom: 30px; 
}

#location a {
  display: block;
  text-align: center;
}

#container2 {
  width: 100%;
  padding: 40px 0;
  background-color: black;
  color: white;
}

.footerset {
  display: flex;
  width: 980px;
  margin: 0 auto;
  
}

.footer_area1, .footer_area2 {
  width: 100%;
}

.footer_area1 img {
  margin-bottom: 35px;
}

.footer_area1 h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer_area1 p {
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 1.1;
}

.footer_area1 p:last-child {
  margin-bottom: 0;
}

.footer_area2 ul {
  display: flex;
  flex-wrap: wrap;
  width: 510px;
  justify-content: flex-start;
  list-style: none;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 0;
}

.footer_area2 li {
 margin-bottom: 13px;
 width: 170px;
 font-size: 0.9em;
 line-height: 1.1;
}

.footer_area2 a {
  text-decoration: none;
  color: white;
}

.footer_area2 a:hover {
  text-decoration: underline;
  color: white;
}

.sns {
  text-align: right;
}

.copyright {
  text-align: center;
  margin: 0;
  padding: 30px 0;
  font-size: 90%;
}



















